.btn {
    font-weight: 500;
    color: $white;
    padding: 0 20px;
    font-size: 1rem;
    height: 52px;
    line-height: 53px;
    border-radius: 0;
    min-width: 140px;
    border-color: transparent;
    cursor: pointer;

    &-primary {
        background-color: $primary-color;
    }

    &:not([href]):not([tabindex]),
    &:hover:not([href]):not([tabindex]) {
        color: $white;
    }

    &:hover {
        background-color: $secondary-color;
        border-color: transparent;
        color: $white;
    }
}