.heading {
	color: $color-heading;
	line-height: 1.6;
	// font-size: $font-size-large;

	&--small {
		font-size: $base-font-size
	}

	&--medium {
		font-size: $font-size-x-large
	}

	&--large {
		font-size: $font-size-xx-large
	}
}
h1 {
  font-size: $font-size-x-large;
}
h2 {
  font-size: $font-size-large;
}
h3 {
  font-size: $font-size-medium;
}
h4 {
  font-size: $base-font-size;
}
h5 {
  font-size: $font-size-small;
}
